body {
  font-family: sans-serif;
}

@media (min-width:720px) {
  .main1 {
    width: 623px;
    margin: 20px auto;
  }
  .main-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .main1-1 {
    text-align: center;
  }

  .main1-2 {
    text-align: center;
  }

  .main1-3 {
    text-align: center;
  }

  .main1-4 {
    text-align: center;
  }
  .main1-5 {
    text-align: center;
  }
}

@media (max-width:719px) {
  .main1 {
    width: 350px;
    margin: 20px auto;
  }

  .main-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .main1-1 {
    text-align: center;
  }

  .main1-2 {
    text-align: center;
  }

  .main1-3 {
    text-align: center;
  }

  .main1-4 {
    text-align: center;
  }
  .main1-5 {
    text-align: center;
  }
}

.main1-5 a {
  color: white;
}
